body{
    background-color: #f2f2f2;
}   
nav{
    box-shadow: 0px 0px 3px rgb(197, 197, 197) !important;
}
.nav-photo{
    border-radius: 50%;
    overflow: hidden;
    width: 29%;
    margin-left: 4px;
}
.cari{
    border: 1px solid #cfcfcf;
    border-radius: 25px;
    overflow: hidden;
    padding: 4px;
}
.input-cari{
    border: none;
    font-size: 11pt;
    margin-left: 4px;
    padding:8px;
}
.input-cari:focus{
    outline: none;
}
.btn-cari{
    background-color: transparent;
    border:none;
}
.section-title h4{
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.section-title h4:after{
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 70px;
    background: #ca1515;
    content: "";
}
.judul{
    color:rgb(37, 37, 37); 
    text-decoration: none;
    transition: 1s;
}
.judul:hover{
    color:#000;
    text-decoration: none;
}
.img-item{
    transition: 1s;
}
.card{
    overflow: hidden;
}
.img-item:hover{
    transform: scale(1.1);
}
.list ul{
    list-style: none;
    padding: 0;
}
.list ul li{
    padding: 8px;
}
.list ul a{
    color:#000;
}
.list ul a:hover li{
    background: #d9d9d9;
}
.list ul a{
    text-decoration: none;
}
.starrating > input {display: none;} 

.starrating > label:before{ 
content: "\f005"; /* Star */
margin: 2px;
font-size: 1em;
font-family: FontAwesome;
/* display: inline-block;  */
}

.starrating > label
{
color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

.dis-starrating > input {display: none;} 

.dis-starrating > label:before{ 
content: "\f005"; /* Star */
margin: 2px;
font-size: 1em;
font-family: FontAwesome;
/* display: inline-block;  */
}

.dis-starrating > label
{
color: #ffca08; /* Start color when not clicked */
}
footer{
    background: #111111;
    padding:16px;
    color:#fff;
}